body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    max-height: 15vh;
}
#logo {
    padding: 20px;
    max-width: 8%;
    max-height: 2%;

}
ul{
    display: flex;
}
#navbar {
    list-style: none;
    padding: 15px;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: black
}
.dashboard {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
    margin: 0px;
    width: 150px;
}
.leftbox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}
#left-box {
    list-style: none;
    padding: 5px;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile {
    width: 100px;
    height: 100px;
}
hr {
    height: 1px;
    width: 10px;
    border: none;
    background: white;
    margin-left: -40px;
    width: 150%;
    margin-top: 5px;
}
ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: 0px;
    background: #f00;
}
.open-btn{
    background-color: cadetblue;
    color: black;
    padding: 13px 40px;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 30px; 
}
.form-popup {
    background-color: sandybrown;
    display: none;
    position: fixed;
    bottom: 25px;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    z-index: 9;
}
.form-container {
    background-color: #ffffffa1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.form-container input, .form-container textarea {
    width: 150px;
    border:none;
    border-radius: 5px;
    padding: 5px 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
}
.form-container input:focus, .form-container textarea:focus{
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    width: 150px;
    border:1px solid #cccccc;
    border-radius: 15px;
    padding: 10px 5px;
    margin-top: 15px; 
    opacity: 0.8;
    cursor: pointer;
}
.open-btn:hover{
    opacity: 1;
}
.post-container{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
}
.post{
    font-family: 'Merriweather', serif;
}
.box{
    display: flex;
}
.box2{
    display: flex;
    flex-direction: column;
    padding-left: 100px; 
}