.header{
    background: burlywood;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.welcome{
    display: block;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
p:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 0px;
    background: #f00;
}
.container {
    background-color: #ffffffa1;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
label{
    margin-left: 2px;
    padding: 5px
}
.input{
    width: 150px;
    border:1px solid #d4d4d4;
    border-radius: 30px;
    padding: 5px 5px
    
}
.btn{
    width: 150px;
    cursor: pointer;
    border:1px solid #cccccc;
    border-radius: 15px;
    padding: 10px 5px;
    margin-top: 15px;
}